# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs & OS files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

oauthdetails.json
**/oauthdetails.json